<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title}}</title>
    <style>
        body, html{background-color: rgb(232, 240, 240); height: 100%; margin: 0; display: grid; place-items: center;}
        h1{font-family: 'Courier New', Courier, monospace; text-align: center; font-size: 65px;}
    </style>
  </head>
  <body>
	<h1>{{ .Message}}</h1>
  </body>
</html>

